<footer>
  <div class="container-fluid yellow-bg">
    <%# Social Media Links %>
    <div class="row p-sm-5 justify-content-center text-center">
      <div class="col-12 pt-5 pb-5 pt-sm-0 pb-sm-0">
        <!-- Github -->
        <a class="git-ic" target="_blank" href="https://github.com/iibarbari">
          <i class="fa fa-github fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!-- Bitbucket -->
        <a class="bb-ic" target="_blank" href="https://bitbucket.org/ilknurultanir/">
          <i class="fa fa-bitbucket fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic" target="_blank" href="https://www.linkedin.com/in/ilknur-ültanır">
          <i class="fa fa-linkedin fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Mail-->
        <a class="mail-ic" target="_top" href="mailto:ilknurultanir01@gmail.com">
          <i class="fa fa-envelope fa-lg text-white mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Soundcloud-->
        <!-- <a class="sd-ic" target="_blank" href="https://soundcloud.com/iibarbari">
          <i class="fa fa-soundcloud fa-lg text-white fa-2x"> </i>
        </a> -->
      </div>
    </div>
    <%# Copyright %>
    <div class="row p-3 text-center text-white" id="copyright">
      <div class="col">
          <%= new Date().getFullYear() %>  Copyright: <a class="text-white" href="/"> Insproduction</a>
      </div>
    </div>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
  crossorigin="anonymous"></script>
  <script src="/script/site.js"></script>
</body>

</html>