<% const chordstoDisplay = ["Major Chords","Minor Chords","Sevenths Chords","Extended Chords","Sus Chords","Dim Chords","Aug Chord","Add Chords","Altered Chords"]; %>
<% const scalestoDisplay = ["Major Scale","Natural Minor Scale","Melodic Minor Scale","Harmonic Minor Scale","Blues Scale","Major Pentatonic Scale","Minor Pentatonic Scale","Persian","Modes"]; %>

<div class="container-fluid text-white p-sm-5" id="teacher">
    <div class="row p-sm-5">
        <div class="col-sm-4 mb-5 mb-sm-0 text-sm-left">
            <h5 class="text-center  mb-sm-3">Learn About Chords Included</h5>
            <ul class="list-group">
                <% chordstoDisplay.forEach(element => { %>
                <li class="list-group-item"><a class="text-white" href="/blog/<%= element.toLowerCase().split(" ")[0] %>">
                        <%= element %></a></li>
                <% }) %>
            </ul>
        </div>
        <div class="col-sm-4  mb-5 mb-sm-0 text-sm-center">
            <h5 class="text-center  mb-sm-3">Learn About Scales Included</h5>
            <ul class="list-group">
                <% scalestoDisplay.forEach(element => { %>
                <li class="list-group-item"><a class="text-white" href="/blog/<%= element.toLowerCase().replace(" ","").split(" ")[0] %>">
                        <%= element %></a></li>
                <% }) %>
            </ul>
        </div>
        <div class="col-sm-4 mb-5 mb-sm-0 text-sm-right">
            <h5 class="text-center  mb-sm-3">Learn About Music Production</h5>
            <ul class="list-group">
                <li class="list-group-item"><a class="text-white" href="/">Songwriting</a></li>
                <li class="list-group-item"><a class="text-white" href="/">How to make chord progressions</a></li>
                <li class="list-group-item"><a class="text-white" href="/">Chords generator for genres</a></li>
                <li class="list-group-item"><a class="text-white" href="/">Chord progression generator</a></li>
            </ul>
        </div>
    </div>
</div>