<% const notes = ["C", "Db", "D", "Eb", "E", "F", "Gb", "G", "Ab", "A", "Bb", "B"]; %>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6" id="piano">
            <div id="p-wrapper">
                <ul id="piano">
                    <% for( let index = 0; index < notes.length; index++ ) { %>
                    <% if([0,5].includes(index)){ %>
                    <li>
                        <div class="anchor" id="note<%= notes[index] %>" </div>
                    </li>
                    <% }else if([2,4,7,9,11].includes(index)){ %>
                    <li>
                        <div class="anchor" id="note<%= notes[index] %>"></div><span id="note<%= notes[index-1] %>"></span>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>