<%- include('./partials/header.ejs') %>

<%# QUERY SECTION %>
<div class="container-fluid p-5 grey-bg text-white homeTitle align-middle" id="content">
    <div class="row">
        <div class="col-12">
            <div class="p-sm-5" id="cursive">
                <h1 class="">
                    Insproduction for Producers
                </h1>
                <p class="lead ">
                    Always stay on key, whatever the scale is...
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <form action="/result" method="POST" class="pl-sm-5 pt-5 pt-sm-0">
                <div class="form-group row text-center">
                    <div class=" d-flex col ">
                        <div class="form-group">
                            <label for="notes">Choose Note</label>
                            <select class="form-control" name="quest[note]" id="notes">
                                <% notes.forEach(element => { %>
                                <option value="<%= element %>">
                                    <%= element %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="col d-flex ">
                        <div class="form-group">
                            <label for="scale">Choose Scale</label>
                            <select class="form-control" name="quest[scale]" id="scale">
                                <% Object.keys(scales.scales).forEach(key => { %>
                                <option value="<%= key %>">
                                    <%= scales.scales[key].name %>
                                </option>
                                <% }) %>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col mt-sm-3 d-flex justify-content-center">
                        <button type="submit" class="btn yellow-bg btn-block btn-lg">Show</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%# QUERY SECTION %>

<%- include('./partials/teacher.ejs') %>

<% include("./partials/footer.ejs") %>