<% const color="red"; %>

<%- include('./partials/header.ejs') %>

<div id="content" class="text-white resultContent">
    <div class="container pt-0 pt-sm-3 mt-3 mt-sm-0">
        <div class="row">
            <div class="col-lg-4 p-3 pr-5 text-sm-left text-center justify-content-center">
                <h1>
                    <%= result.note %>
                    <%= result.scale %>
                </h1>
                <p class="lead">
                    <%= result.result%>
                </p>
            </div>
            <div class="col-lg-8 justify-content-center" id="piano">

                <div id="p-wrapper">
                    <ul id="piano">
                        <% for( let index = 0; index < result.notes.length; index++ ) { %>
                        <% if([0,5].includes(index)){ %>
                        <li>
                            <div class="anchor" id="note<%= result.notes[index] %>" <% if
                                (result.result.indexOf(result.notes[index])>-1) { %>
                                <%= "style=background:grey" %>
                                >
                                <%= result.result.indexOf(result.notes[index]) %>
                            </div>
                            <% } %>
                        </li>
                        <% }else if([2,4,7,9,11].includes(index)){ %>
                        <li>
                            <div class="anchor" id="note<%= result.notes[index] %>" <% if
                                (result.result.indexOf(result.notes[index])>-1) { %>
                                style="background:<%= color %>"
                                <%= result.result.indexOf(result.notes[index]) %>
                                <% } %>
                            </div>
                            <span id="note<%= result.notes[index-1] %>" <% if
                                (result.result.indexOf(result.notes[index-1])>-1){ %>
                                style="background:<%= color %>"
                                <%= result.result.indexOf(result.notes[index]) %>
                                <% } %>>
                            </span>
                        </li>
                        <% } %>
                        <% } %>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid p-3 p-sm-5" id="resultTab">
        <ul class="nav nav-tabs nav-justified">
            <% for(var i = 0 ; i< result.chords.length; i++){ %>

            <% if (i===0){ %>
            <li class="nav-item">
                <a class="nav-link active text-white" data-toggle="tab" href="#<%= result.result[i] %>">
                    <%= result.chords[i].note %>
                </a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link text-white" data-toggle="tab" href="#<%= result.result[i] %>">
                    <%= result.chords[i].note %>
                </a>
            </li>
            <% } %>
            <% } %>
        </ul>
        <div class="tab-content text-center text-sm-left pt-3">
            <%# Loops Through Scales Notes %>
            <% for( let z = 0; z < result.chords.length; z++ ) { %>

            <%# Checks if z = 0 and chords exist%>
            <% if (z===0 && result.chords[z].chords !== undefined && result.chords[z].chords) { %>
            <div class="tab-pane active container" id="<%= result.result[z] %>">
                <div class="row">
                    <% Object.keys(result.chords[z].chords).forEach(function(item){ %>
                    <div class="col-sm-4">
                        <p>
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse"
                                data-target="#<%= result.result[z] %><%= item %>desc" aria-expanded="false"
                                aria-controls="<%= result.result[z] %><%= item %>desc">
                                <%= result.result[z] %>
                                <%= result.chords[z].chords[item][1][0] %>
                            </button>
                        </p>
                        <div class="collapse pb-3" id="<%= result.result[z] %><%= item %>desc">
                            <% for( let t = 0; t < result.chords[z].chords[item][0].length; t++ ) { %>
                            <p class="text-center"><strong>
                                    <%= result.chords[z].chords[item][0][t] %></strong> -
                                <%= result.chords[z].chords[item][2][t] %>
                            </p>
                            <% } %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>

            <%# checks if chords in root note %>
            <% }else if(z===0){ %>

            <div class="tab-pane active container" id="<%= result.result[z] %>">
                <div class="row">
                    <div class="col-sm-4">
                        <p>
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse"
                                data-target="#<%= result.result[z] %><%= z %>desc" aria-expanded="false" aria-controls="<%= result.result[z] %><%= z %>desc">
                                NA
                            </button>
                        </p>
                        <div class="collapse pb-3" id="<%= result.result[z] %><%= z %>desc">
                            No Chord for this note
                        </div>
                    </div>
                </div>
            </div>

            <%# checks if no chords in root note %>
            <% }else if( z !== 0 && result.chords[z].chords !== undefined && result.chords[z].chords){ %>
            <%# checks if not first elem and has chords %>
            <div class="tab-pane container" id="<%= result.result[z] %>">
                <div class="row">
                    <% Object.keys(result.chords[z].chords).forEach(function(item){ %>
                    <div class="col-sm-4">
                        <p>
                            <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse"
                                data-target="#<%= result.result[z] %><%= item %>desc" aria-expanded="false"
                                aria-controls="<%= result.result[z] %><%= item %>desc">
                                <%= result.result[z] %>
                                <%= result.chords[z].chords[item][1][0] %>
                            </button>
                        </p>
                        <div class="collapse pb-3" id="<%= result.result[z] %><%= item %>desc">
                            <% for( let t = 0; t < result.chords[z].chords[item][0].length; t++ ) { %>
                            <p class="text-center"><strong>
                                    <%= result.chords[z].chords[item][0][t] %></strong> -
                                <%= result.chords[z].chords[item][2][t] %>
                            </p>
                            <% } %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>

            <% }else{ %>
            <%# checks if not first elem and has no chords %>
            <div class="tab-pane container" id="<%= result.result[z] %>">
                <div class="row">
                    <div class="col-sm-4">
                        <p>
                            <button class="btn btn-block btn-secondary" type="button" data-toggle="collapse"
                                data-target="#<%= result.result[z] %><%=z%>desc" aria-expanded="false" aria-controls="contentId">
                                NA
                            </button>
                        </p>
                        <div class="collapse pb-3" id="<%= result.result[z] %><%=z%>desc">
                            No Chord for this note
                        </div>
                    </div>
                </div>
            </div>
            <%} %>
            <% } %>
            <%# Tab View %>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>