* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: 'Comfortaa', cursive;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

:focus {
  outline: none !important;
}

footer a:hover {
  text-decoration: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: transparent;
  border-radius: 0;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  background: transparent;
  border-radius: 0;
}

footer #copyright {
  -webkit-box-shadow: 0px -5px 42px 3px rgba(64, 31, 62, .3);
  -moz-box-shadow: 0px -5px 42px 3px rgba(64, 31, 62, .3);
  box-shadow: 0px -5px 42px 3px rgba(64, 31, 62, .3);
}

/* Colors */
.yellow-bg {
  background: rgba(253, 195, 7, 1);
}

.grey-bg {
  background: rgba(112, 115, 117);

}

.purple-bg {
  background: #401F3E;
}

.violet-bg {
  background: #3F2E56;
}

.blue-bg {
  background: rgba(69, 63, 120, 1);
}

/* Colors */

#teacher  {
  background-color: rgba(69, 63, 120, .6);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  rgba(69, 63, 120, 1),#FFC107);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,rgba(69, 63, 120, 1),#FFC107);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#teacher .list-group-item{
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 0;
}

.homeTitle {
  min-height: calc(100vh - 60px);
  background: #fff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #401F3E, rgba(69, 63, 120, 1));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #401F3E, rgba(69, 63, 120, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content:center;
    align-content:center;
}

.resultContent {
  background: #fff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #401F3E, #FFC107);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #401F3E, #FFC107);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#resultTab {
  flex: 1;
}

/* Tuts */
ul#piano {
  display: flex;
  justify-content: center;
}

ul#piano li {
  list-style: none;
  display: inline;
  background: #aaa;
  width: 60px;
  position: relative;
}

ul#piano li a,
ul#piano li div.anchor {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 220px;
  background: #fff;
  background: -webkit-linear-gradient(-30deg, #f5f5f5, #fff);
  background: -moz-linear-gradient(-30deg, #f5f5f5, #fff);
  background: -ms-linear-gradient(-30deg, #f5f5f5, #fff);
  background: -o-linear-gradient(-30deg, #f5f5f5, #fff);
  background: linear-gradient(-30deg, #f5f5f5, #fff);
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 0px #fff, inset 0 -1px 0px #fff, inset 1px 0px 0px #fff, inset -1px 0px 0px #fff, 0 4px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 1px 0px #fff, inset 0 -1px 0px #fff, inset 1px 0px 0px #fff, inset -1px 0px 0px #fff, 0 4px 3px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 0px #fff, inset 0 -1px 0px #fff, inset 1px 0px 0px #fff, inset -1px 0px 0px #fff, 0 4px 3px rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

ul#piano li a:active,
ul#piano li div.anchor:active {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  top: 2px;
  height: 216px;
}

ul#piano li a:active:before,
ul#piano li div.anchor:active:before {
  content: "";
  width: 0px;
  height: 0px;
  border-width: 216px 5px 0px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0px;
  top: 0px;
}

ul#piano li a:active:after,
ul#piano li div.anchor:active:after {
  content: "";
  width: 0px;
  height: 0px;
  border-width: 216px 5px 0px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
  position: absolute;
  right: 0px;
  top: 0px;
}

/* Black Tuts */
ul#piano li span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0px;
  left: -12px;
  width: 30px;
  height: 120px;
  background: #333;
  background: -webkit-linear-gradient(-20deg, #333, #000, #333);
  background: -moz-linear-gradient(-20deg, #333, #000, #333);
  background: -ms-linear-gradient(-20deg, #333, #000, #333);
  background: -o-linear-gradient(-20deg, #333, #000, #333);
  background: linear-gradient(-20deg, #333, #000, #333);
  z-index: 10;
  border-width: 1px 2px 7px;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  -webkit-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

ul#piano li span:active {
  border-bottom-width: 2px;
  height: 123px;
  -webkit-box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.4), 0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4), 0 -1px 0px #000;
  -moz-box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.4), 0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4), 0 -1px 0px #000;
  box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.4), 0 1px 0px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.4), 0 -1px 0px #000;
}

.clear {
  clear: both;
}