<%- include('../partials/header') %>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col text-center justify-content-center align-center">
                <h1 class="p-5">
                    API docs will be added soon
                </h1>
                <h4>But for now, here's a little taste &#128523; </h4>
            </div>
        </div>
        <div class="row">
            <div class="container p-5 text-center">
                <form id="apiQuery">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="notes">Choose Note</label>
                                <select class="form-control" name="note" id="note">
                                    <% notes.forEach(element => { %>
                                    <option value="<%= element %>">
                                        <%= element %>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="scale">Choose Scale</label>
                                <select class="form-control" name="scale" id="scale">
                                    <% Object.keys(scales.scales).forEach(key => { %>
                                    <option value="<%= key %>">
                                        <%= scales.scales[key].name %>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center text-center">
                <h6>
                    <a target="_blank" class="api" href="/api?note=C&scale=majorScale">insproduction.herokuapp.com/api?note=C&scale=majorScale</a>
                </h6>
            </div>

        </div>
    </div>
</div>
<%- include("../partials/footer") %>