<%- include('../partials/header') %>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col text-center justify-content-center align-center">
                <h1 class="p-5">
                    Theory of <strong>
                        <%= content %></strong> will be added soon
                </h1>
            </div>
        </div>
    </div>
    <% include('../piano') %>
</div>

<%- include('../partials/footer') %>